# Laravel specific files
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json

# Environment files
/.env
/.env.backup
/.env.production

# Composer & NPM files
/vendor
/node_modules

# Laravel storage & logs
/public/storage
/public/build
/public/hot
/storage/*.log
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Database files
/database/*.sqlite
/database/*.sqlite3

# Laravel & PHP Cache
/bootstrap/cache/*.php

# Homestead & Laravel development files
/Homestead.json
/Homestead.yaml

# IDE/editor specific files
/.idea
/.fleet
/.nova
/.vscode
/.zed

# Miscellaneous
/npm-debug.log
/yarn-error.log
/auth.json

